{% if messages %}
    <div class="messages">
    {% for message in messages %}
        {% if not 'Successfully signed' in message.message %}
            <div class="text-center alert alert-primary
            {% if message.tags %}
                {% if message.tags == 'success' %}
                    alert-success
                {% elif message.tags == 'error' %}
                    alert-danger
                {% elif message.tags == 'warning'%}
                    alert-warning
                {% elif user.is_authenticated %}
                    alert-info
                {% endif %}
            {% endif %} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}