{% extends "base.html" %}
{% load static %}
{% block body %}

    <div class="wrapper">
        <div id="menu-principal"
            class="header-v6 header-white-transparent header-sticky"
            style="position: relative;">
            <div id="barra-superior" class="header-v8">
                <div class="blog-topbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-7 col-xs-2">
                                {% if user.is_authenticated %}
                                    <ul class="topbar-list topbar-log_reg">
                                        <li class="cd-log_reg home visible-md-block
                                         visible-lg-block"
                                            style="font-size: 14px !important;">
                                             <i class="fa fa-user fa-lg"></i>
                                             Administrador: {{user.first_name}} {{user.last_name}}
                                        </li>
                                        <li class="cd-log_reg home visible-xs-block visible-sm-block"
                                            style="font-size: 14px !important; float: left">
                                            <button type="button" class="navbar-toggle"
                                                    data-toggle="collapse"
                                                    data-target=".navbar-responsive-collapse"
                                            style="padding-top: 0;">
                                                <i class="fa fa-bars fa-lg"></i>
                                            </button>
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="col-sm-5 col-xs-10 clearfix">
                                <ul class="topbar-list topbar-log_reg
                                     pull-right visible-sm-block visible-md-block
                                visible-lg-block visible-xs-block">
                                    <li class="cd-log_reg home home_hover hidden-xs"
                                        style="font-size: 14px !important;">
                                        <a href="{% url 'index' %}">
                                            <i class="fa fa-search fa-lg"></i>
                                            Verificar
                                        </a>
                                    </li>
                                    <li class="cd-log_reg home home_hover hidden-lg hidden-md hidden-sm"
                                        style="font-size: 14px !important;">
                                        <a href="{% url 'index' %}">
                                            <i class="fa fa-search fa-lg"></i>
                                        </a>
                                    </li>
                                    <li class="cd-log_reg home home_hover hidden-xs"
                                        style="font-size: 14px !important; padding-right: 12px;">
                                        <a href="{% url 'logout' %}">
                                            <i class="fa fa-power-off"></i>
                                            Salir
                                        </a>
                                    </li>
                                    <li class="cd-log_reg home home_hover hidden-lg hidden-md hidden-sm"
                                        style="font-size: 14px !important; padding-right: 12px;">
                                        <a href="{% url 'logout' %}">
                                            <i class="fa fa-power-off fa-lg"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="containermenu">
                    <div class="container">
                        <ul class="nav navbar-nav" style="float:left;">
                            <li class="nodropdown {% if '/documents_admin' in request.path  %}active{% endif %}">
                                <a href="{% url 'documents_admin' %}"
                                   class="dropdown-toggle disabled"
                                   data-toggle="dropdown">
                                    <i class="fa fa-file-pdf-o fa-lg"></i>
                                    Documentos
                                </a>
                            </li>
                            <li class="nodropdown {% if 'documents_type' in request.path  %}active{% endif %}">
                                <a href="{% url 'documents_type' %}"
                                   class="dropdown-toggle disabled"
                                   data-toggle="dropdown">
                                    <i class="fa fa-file fa-lg"></i>
                                    Tipos de documentos
                                </a>
                            </li>
                            <li class="nodropdown {% if 'dependences' in request.path  %}active{% endif %}">
                                <a href="{% url 'dependences' %}"
                                   class="dropdown-toggle disabled"
                                   data-toggle="dropdown">
                                    <i class="fa fa-folder-o fa-lg"></i>
                                    Dependencias
                                </a>
                            </li>
                            <li class="nodropdown {% if 'allowed_users' in request.path  %}active{% endif %}">
                                <a href="{% url 'allowed_users' %}"
                                    class="dropdown-toggle disabled"
                                    data-toggle="dropdown">
                                    <i class="fa fa-users fa-lg"></i>
                                    Usuarios permitidos
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
      </div>

    <div class="container content-prin profile" style="margin-bottom: 60px">
        {% include 'includes/messages.html' %}
        {% block container %}
            <div class="row margin-top-10">
                <div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
                    <h1 class="shop-h1" style="font-size: 30px;"><b>Novedades</b></h1>
                    <span class="bordered-icon">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="col-md-12">
                    <div class="row equal-height-columns margin-bottom-10">
                        <div class="container">

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="footer" style="position: absolute; width: 100%; bottom: 0px; position: fixed; z-index: 10000">
        <div class="copyright" style="padding: 0; background-color: rgb(34, 34, 34);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% now "Y" as current_year %}
                        <p class="text-center">
                            2020 - {{ current_year }} © Moral Rights.
                            Developed by: <a href="https://github.com/dexer13">Denis Isidro Gonzales</a> -
                            <a href="https://github.com/edwinVelasco">Edwin Alberto Velasco</a>
                            Curso de profundización de software
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





