{% extends "base.html" %}
{% load static %}
{% block body %}

    <div class="wrapper">
        <div id="menu-principal"
            class="header-v6 header-white-transparent header-sticky"
            style="position: relative;">
            <div id="barra-superior" class="header-v8">
                <div class="blog-topbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-7 col-xs-7">
                                {% if user.is_authenticated %}
                                    <ul class="topbar-list topbar-log_reg
                                         visible-sm-block visible-md-block
                                         visible-lg-block">
                                        <li class="cd-log_reg home"
                                            style="font-size: 14px !important;">
                                          {{user.first_name}} {{user.last_name}}
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="col-sm-5 col-xs-5 clearfix">
                                <ul class="topbar-list topbar-log_reg
                                     pull-right visible-sm-block visible-md-block
                                     visible-lg-block">
                                    <li class="cd-log_reg home"
                                        style="font-size: 14px !important;">
                                        <a href="{% url 'index' %}">
                                            <i class="fa fa-home"></i>
                                            Inicio
                                        </a>
                                    </li>
                                    <li class="cd-log_reg home"
                                        style="font-size: 14px !important;">
                                        <a href="{% url 'logout' %}">
                                            <i class="fa fa-power-off"></i>
                                            Cerrar sesión
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
              <div class="containermenu">
                  <ul class="nav navbar-nav" style="float:left;">
                      <li class="dropdown">
                          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Programa</a>
                          <ul class="dropdown-menu">
                              <li><a href="#">Presentación</a></li>
                              <li><a href="#">Misión, Visión y Valores</a></li>
                              <li class="dropdown-submenu">
                                  <a href="javascript:;">Comité Curricular</a>
                                  <ul class="dropdown-menu">
                                      <li><a href="#">Conformación</a></li>
                                      <li><a href="#">Cronograma de Actividades</a></li>
                                      <li><a href="#">Desde el Comité</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li class="nodropdown">
                          <a href="http://gidis.ufps.edu.co:8080/segra/"
                              class="dropdown-toggle disabled"
                              data-toggle="dropdown" target="_blank">
                              Graduados
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>

    <div class="container content-prin profile">
        <div class="row margin-top-10">
            <div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
                <h1 class="shop-h1" style="font-size: 30px;"><b>Novedades</b></h1>
                <span class="bordered-icon">
                              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                          </span>
            </div>
            <div class="col-md-12">
                <div class="row equal-height-columns margin-bottom-10">
                    <div class="container">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





