{% extends "base.html" %}

{% load socialaccount %}
{% load static %}

{% block body %}
    <div class="wrapper" style="position: relative; min-height: 100%; top: 0px;">
        <div id="menu-principal" class="header-v6 header-white-transparent
                                        header-sticky"
             style="position: relative;">
            <div id="barra-superior" class="header-v8">
                <div class="blog-topbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-7 col-xs-7">
                                <div class="visible-xs-block visible-sm-block hidden-md hidden-lg"
                                     style="font-size: 10px; color: #eee; letter-spacing: 1px; text-transform: uppercase;">
                                            <a href="http://www.ufps.edu.co/" target="_blank">
                                            <img class="header-banner" src="{% static 'app/rsc/img/logo_ufps_png.png' %}"
                                                 style="max-height:5em;"
                                                 alt="Escudo de la Universidad Francisco de Paula Santander" ></a>
                                </div>
                                <ul class="topbar-list topbar-menu">
                                    {% if user.is_authenticated %}
                                        <li class="cd-log_reg home hidden-sm"
                                            style="font-size: 14px !important;">
                                            {{user.first_name}} {{user.last_name}}
                                        </li>
                                        <li class="cd-log_reg hidden-sm hidden-md hidden-lg">
                                            <a href="{% url 'home' %}">
                                                <i class="fa fa-home"></i>
                                            </a>
                                        </li>
                                        <li class="cd-log_reg hidden-sm hidden-md hidden-lg">
                                            <a href="{% url 'logout' %}">
                                                <i class="fa fa-power-off"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-sm-5 col-xs-5">
                                <ul class="topbar-list topbar-log_reg
                                pull-right visible-sm-block visible-md-block
                                visible-lg-block visible-xs-block">
                                    {% if user.is_authenticated %}
                                        <li class="cd-log_reg home home_hover hidden-xs"
                                            style="font-size: 14px !important;">
                                            <a href="{% url 'home' %}">
                                                <i class="fa fa-home"></i>
                                                Home
                                            </a>
                                        </li>
                                        <li class="cd-log_reg home home_hover hidden-lg hidden-md hidden-sm"
                                            style="font-size: 14px !important;">
                                            <a href="{% url 'home' %}">
                                                <i class="fa fa-home fa-lg"></i>
                                            </a>
                                        </li>

                                        <li class="cd-log_reg home home_hover hidden-xs"
                                            style="font-size: 14px !important; padding-right: 12px;">
                                            <a href="{% url 'logout' %}">
                                                <i class="fa fa-power-off"></i>
                                                Salir
                                            </a>
                                        </li>
                                        <li class="cd-log_reg home home_hover hidden-lg hidden-md hidden-sm"
                                            style="font-size: 14px !important; padding-right: 12px;">
                                            <a href="{% url 'logout' %}">
                                                <i class="fa fa-power-off fa-lg"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="cd-log_reg home home_hover hidden-xs"
                                            style="font-size: 14px !important; padding-right: 12px;">
                                            <a href="{% provider_login_url 'google' %}">
                                                <i class="fa fa-google fa-lg"></i>
                                                Iniciar sesión
                                            </a>
                                        </li>
                                        <li class="cd-log_reg home home_hover hidden-lg hidden-md hidden-sm"
                                            style="font-size: 14px !important; padding-right: 12px;">
                                            <a href="{% provider_login_url 'google' %}" data-toggle="tooltip"
                                                data-placement="bottom"
                                                title data-original-title="Iniciar sesión">
                                                <i class="fa fa-google fa-2x"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-v8 img-logo-superior" style="background-color: #aa1916;">
                <div class="parallax-quote parallaxBg" style="padding: 10px 30px;">
                    <div class="parallax-quote-in" style="padding: 0px;">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <a href="http://www.ufps.edu.co/" target="_blank">
                                    <img class="header-banner" src="{% static 'app/rsc/img/logo_ufps2.png' %}"
                                         style="max-height:90px;" alt="Escudo de la Universidad Francisco de Paula Santander" ></a>
                            </div>
                            <!--<div class="col-md-6 col-sm-5 col-xs-5" style="padding-top: 10px;">
                                <h1 class="text-center" style="font-size: 38px;">
                                    Verificación de documentos <br>
                                    UFPS
                                </h1>
                            </div>-->
                            <div class="col-md-7 col-sm-8 col-xs-7 text-right">
                                <a href="https://www.colombia.co/" target="_blank">
                                    <img class="header-banner" src="{% static 'app/rsc/img/escudo_colombia.png' %}"
                                         style="max-height:100px;" alt="Escudo de colombia" ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="menu-responsive">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="fa fa-bars"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="containermenu">
                    <ul class="nav navbar-nav" style="float:left;">

                        <li class="nodropdown">
                            <a href="" class="dropdown-toggle disabled"
                               data-toggle="dropdown" >Graduados</a>
                        </li>
                    </ul>
                </div>
            </div>-->
        </div>
    </div>


    <div style="clear:both;"></div>
    {% include 'includes/messages.html' %}

    <div class="container" >
        <form method="POST">
            {% csrf_token %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-md-offset-3">
                <div class="row">
                    <br>
                    <h1 class="text-center" style="font-size: 4em;">VerifyDocs</h1>
                    <br>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            {% comment %}<input type="text" class="form-control"
                                   placeholder="Código de verificación"
                                   name="code"
                                   id="code"
                                   style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;">{% endcomment %}
                            {{ form.code }}
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"
                                        style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="footer-v1 off-container" style="bottom: 60px !important;
                                                display: block;
                                                position: absolute;">
        <div class="copyright" style="padding: 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            2020 © All Rights Reserved.
                            Desarrollado por: <a href="#">Denis Isidro Gonzales - Edwin Alberto Velasco</a>
                            Curso de profundización de software
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="owl-clients-v1" style="bottom: 0 !important; display: block; position: absolute;">
        <div class="item">
            <a href="http://www.mineducacion.gov.co/" target="_blank"><img src="{% static 'app/rsc/img/mineducacion.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.gobiernoenlinea.gov.co/" target="_blank"><img src="{% static 'app/rsc/img/gobiernoenlinea.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.contraloriagen.gov.co/" target="_blank"><img src="{% static 'app/rsc/img/contraloria.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.procuraduria.gov.co/" target="_blank"><img src="{% static 'app/rsc/img/procuraduriageneraldelanacion.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.urnadecristal.gov.co/" target="_blank"><img src="{% static 'app/rsc/img/urnadecristal.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.icfes.gov.co/" target="_blank"><img src="{% static 'app/rsc/img/icfes.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.icetex.gov.co/" target="_blank"><img src="{% static 'app/rsc/img/icetex.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.universia.net.co/" target="_blank"><img src="{% static 'app/rsc/img/universia.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.colombiaaprende.edu.co/" target="_blank"><img src="{% static 'app/rsc/img/colombiaaprende.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.renata.edu.co/" target="_blank"><img src="{% static 'app/rsc/img/renata-logo.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.colciencias.gov.co/" target="_blank"><img src="{% static 'app/rsc/img/COLCIENCIAS.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.cna.gov.co/" target="_blank"><img src="{% static 'app/rsc/img/cna.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.mineducacion.gov.co/sistemasdeinformacion/1735/propertyvalue-41698.html" target="_blank"><img src="{% static 'app/rsc/img/SACES.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.mineducacion.gov.co/sistemasdeinformacion/1735/w3-propertyname-2672.html" target="_blank"><img src="{% static 'app/rsc/img/SNIES.png' %}" class="hover-shadow" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.mineducacion.gov.co/sistemasdeinformacion/1735/w3-propertyname-2895.html" target="_blank"><img src="{% static 'app/rsc/img/SPADIES.png' %}" class="hover-shadow" alt=""></a>
        </div>
    </div>
{% endblock %}

