{% extends "base_index.html" %}

{% load socialaccount %}
{% load static %}

{% block body %}
    <div class="wrapper" style="position: relative; min-height: 100%; top: 0px;">
        <div id="menu-principal" class="header-v6 header-white-transparent
                                        header-sticky"
             style="position: relative;">
            <div id="barra-superior" class="header-v8">
                <div class="blog-topbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-7 col-xs-7">
                                <div class="visible-xs-block visible-sm-block hidden-md hidden-lg"
                                     style="font-size: 10px; color: #eee; letter-spacing: 1px; text-transform: uppercase;">
                                            <a href="http://www.ufps.edu.co/" target="_blank">
                                            <img class="header-banner" src="{% static 'app/rsc/img/logo_ufps_png.png' %}"
                                                 style="max-height:5em;"
                                                 alt="Escudo de la Universidad Francisco de Paula Santander" ></a>
                                </div>
                                <ul class="topbar-list topbar-menu">
                                    {% if user.is_authenticated %}
                                        <li class="cd-log_reg home hidden-sm"
                                            style="font-size: 14px !important;">
                                            {{user.first_name}} {{user.last_name}}
                                        </li>
                                        <li class="cd-log_reg hidden-sm hidden-md hidden-lg">
                                            <a href="{% url 'home' %}">
                                                <i class="fa fa-home"></i>
                                            </a>
                                        </li>
                                        <li class="cd-log_reg hidden-sm hidden-md hidden-lg">
                                            <a href="{% url 'logout' %}">
                                                <i class="fa fa-power-off"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-sm-5 col-xs-5">
                                <ul class="topbar-list topbar-log_reg
                                pull-right visible-sm-block visible-md-block
                                visible-lg-block visible-xs-block">
                                    {% if user.is_authenticated %}
                                        <li class="cd-log_reg home home_hover hidden-xs"
                                            style="font-size: 14px !important;">
                                            <a href="{% url 'home' %}">
                                                <i class="fa fa-home"></i>
                                                Home
                                            </a>
                                        </li>
                                        <li class="cd-log_reg home home_hover hidden-lg hidden-md hidden-sm"
                                            style="font-size: 14px !important;">
                                            <a href="{% url 'home' %}">
                                                <i class="fa fa-home fa-lg"></i>
                                            </a>
                                        </li>

                                        <li class="cd-log_reg home home_hover hidden-xs"
                                            style="font-size: 14px !important; padding-right: 12px;">
                                            <a href="{% url 'logout' %}">
                                                <i class="fa fa-power-off"></i>
                                                Salir
                                            </a>
                                        </li>
                                        <li class="cd-log_reg home home_hover hidden-lg hidden-md hidden-sm"
                                            style="font-size: 14px !important; padding-right: 12px;">
                                            <a href="{% url 'logout' %}">
                                                <i class="fa fa-power-off fa-lg"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="cd-log_reg home home_hover hidden-xs"
                                            style="font-size: 14px !important; padding-right: 12px;">
                                            <a href="{% provider_login_url 'google' %}">
                                                <i class="fa fa-google fa-lg"></i>
                                                Iniciar sesión
                                            </a>
                                        </li>
                                        <li class="cd-log_reg home home_hover hidden-lg hidden-md hidden-sm"
                                            style="font-size: 14px !important; padding-right: 12px;">
                                            <a href="{% provider_login_url 'google' %}" data-toggle="tooltip"
                                                data-placement="bottom"
                                                title data-original-title="Iniciar sesión">
                                                <i class="fa fa-google fa-2x"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-v8 img-logo-superior" style="background-color: #aa1916;">
                <div class="parallax-quote parallaxBg" style="padding: 10px 30px;">
                    <div class="parallax-quote-in" style="padding: 0px;">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <a href="http://www.ufps.edu.co/" target="_blank">
                                    <img class="header-banner" src="{% static 'app/rsc/img/logo_ufps2.png' %}"
                                         style="max-height:90px;" alt="Escudo de la Universidad Francisco de Paula Santander" ></a>
                            </div>
                            <!--<div class="col-md-6 col-sm-5 col-xs-5" style="padding-top: 10px;">
                                <h1 class="text-center" style="font-size: 38px;">
                                    Verificación de documentos <br>
                                    UFPS
                                </h1>
                            </div>-->
                            <div class="col-md-7 col-sm-8 col-xs-7 text-right">
                                <a href="https://www.colombia.co/" target="_blank">
                                    <img class="header-banner" src="{% static 'app/rsc/img/escudo_colombia.png' %}"
                                         style="max-height:100px;" alt="Escudo de colombia" ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="clear:both;"></div>
    {% include 'includes/messages.html' %}
    <div ng-show="url" class="messages">
        <div class="text-center alert alert-primary alert-success">
            <strong>Codigo QR Detectado!</strong>
        </div>
    </div>
    <div class="container"  style="padding-bottom: 40px">
        <div class="row">
            <div class="col-md-6">
                <br>
                <br>
                <div class="row text-center" ng-hide="!cameraRequested">
                    <h4 class="font-bold">¡Acerque el código QR a la camara web!</h4>
                    <div class="col-md-12">
                        <bc-qr-reader active="cameraRequested"
                                      on-result="processURLfromQR"
                                      on-error="onError" camera-status="cameraIsOn"
                        ></bc-qr-reader>
                    </div>
                </div>
                <div class="row" ng-hide="cameraRequested" style="padding: 20px">
                    <div class="text-center">
                        <h1>¡Bienvenido a VerifyDocs!</h1>
                    </div>
                    <p class="text-justify" style="font-size: large">
                        Verifydocs es el sistema encargado del almacenamiento, autenticación y verificación
                        de los documentos expedidos por las diferentes dependencias de la Universidad Francisco de Paula Santander. Si usted
                        posee un documento digital o físico con un código QR puede usar el formulario que se encuentra al lado derecho
                        para verificar el documento. Para mas información haga clic
                         <a href="https://www.youtube.com">aquí</a> en donde encontrará un tutorial.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <form enctype="multipart/form-data" method="POST" action="/" style="margin-bottom: 100px">
            {% csrf_token %}
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <br>
                    <h4 class="text-center">
                        Ingrese los siguientes datos para solicitar la verificación del documento
                    </h4>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="height: 54px">
                        <div class="input-group" >
                            {{ form.code }}
                            <span class="input-group-btn">
                                <button id="id_btn_cam" type="button" class="btn btn-default" ng-click="start()"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title data-original-title="Escanear QR"
                                        style="border-radius: 0px !important;">
                                    <i class="fa fa-camera"></i>
                                </button>
                                <button id="id_btn_not_file" type="button" class="btn btn-default"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title data-original-title="Remover documento"
                                        style="border-radius: 0px !important;" hidden>
                                    <i class="fa fa-times"></i>
                                </button>
                                <label type="button" class="btn btn-default" type="submit"
                                       data-toggle="tooltip"
                                        data-placement="top"
                                        title data-original-title="Cargar documento"
                                        style="border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important;">
                                    {{ form.file }}
                                    <i class="fa fa-upload"></i>
                                </label>
                            </span>
                        </div>

                            {{ form.code.errors }}
                    </div>
                    <div class="col-lg-12">
                        <div class="form-inline">
                            {{ form.verifier_name }}
                            <label>{{ form.verifier_name.errors }}</label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-inline">
                            {{ form.verifier_email }}
                            <label>{{ form.verifier_email.errors }}</label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-inline">
                            {{ form.verifier_email_two }}
                            <label>{{ form.verifier_email_two.errors }}</label>
                            <label class="verify_email_two text-danger" style="display: none"><ul class="errorlist"><li>El email no coincide</li></ul></label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-primary btn-block" value="SOLICITAR VERIFICACIÓN" id="btn_submit">
                    </div>
                </div>
            </div>
        </form>
            </div>
        </div>
    </div>

    <div class="footer" style="width: 100%; bottom: 0px; position: fixed; z-index: 10000">
        <div class="copyright" style="padding: 0; background-color: rgb(34, 34, 34);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            2020 © All Rights Reserved.
                            Desarrollado por: <a href="#">Denis Isidro Gonzales - Edwin Alberto Velasco</a>
                            Curso de profundización de software
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(function() {
            $("#id_file").change(function (){
                var fileName = $(this).val();
                if (fileName){
                    fileName = fileName.split('\\');
                    $("#id_code").attr('disabled', true);
                    $("#id_code").attr('placeholder', fileName[fileName.length-1]);
                    $('#id_btn_cam').hide();
                    $('#id_btn_not_file').show();
                }
            });
        });

        $("#id_btn_not_file").on('click', function (){
            $('#id_btn_cam').show();
            $('#id_btn_not_file').hide();
            $("#id_file").val('');
            $("#id_code").removeAttr('disabled');
            $("#id_code").attr('placeholder',
                'Código seguro de verificación');
        })

        function compare_email(){
            var ver_email = $('#id_verifier_email').val();
            var ver_email_t = $('#id_verifier_email_two').val();
            console.log(ver_email, ver_email_t);
            if (ver_email !== ver_email_t){
                $('.verify_email_two').attr('style', {});
                $('#btn_submit').attr('disabled', 'disabled');
            }else {
                $('.verify_email_two').attr('style', "display: none");
                $('#btn_submit').removeAttr('disabled');
            }
        }

    </script>

{% endblock %}
