{% extends "admin.html" %}
{% load static %}
{% block container %}
    <div class="row">
        <div class="headline-center-v2-dark col-md-12">
            <div class="shop-h1 col-md-6 col-sm-6 col-xs-6"
                style="font-size: 30px;"><b>Usuarios permitidos</b></div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                <a class="btn btn-primary"
                   style="margin-top: 14px !important;"
                   href="{% url 'allowed_user_create' %}" role="button">
                    <i class="fa fa-plus"></i> Agregar
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" method="GET" novalidate>
                <div class="form-group">
                    {{ form_search.email }}
                </div>
                <div class="form-group">
                    {{ form_search.role }}
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_search.is_active }} Solo activos
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row equal-height-columns margin-bottom-10">
                <div class="container">
                    <br>
                {% if allowed_users_list %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-1">Creación</th>
                                    <th class="text-center col-md-1">Última modificación</th>
                                    <th class="text-center col-md-3">Correo</th>
                                    <th class="text-center col-md-1">Rol</th>
                                    <th class="text-center col-md-1">Activo</th>
                                    <th class="text-center col-md-2">Gestión</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for allowed_user in allowed_users_list %}
                                <tr
                                    {% if not allowed_user.active %}
                                    style="background: #d0d0d0"
                                    {% endif %} >
                                    <td>{{ allowed_user.created|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ allowed_user.updated|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ allowed_user.email }}</td>
                                    <td>
                                        {% if allowed_user.role == 1 %}
                                        <i class="fa fa-cogs fa-lg text-success"
                                           data-toggle="tooltip" data-placement="bottom" title="Administrador"
                                        ></i>
                                        {% elif not allowed_user.role %}
                                        <i class="fa fa-times-circle fa-lg text-danger"
                                           data-toggle="tooltip" data-placement="bottom" title="Administrativo"
                                        ></i>
                                        {% elif allowed_user.role == 3 %}
                                        <i class="fa fa-terminal fa-lg text-danger"
                                           data-toggle="tooltip" data-placement="bottom" title="Administrativo"
                                        ></i>
                                        {% else %}
                                        <i class="fa fa-user fa-lg"
                                           data-toggle="tooltip" data-placement="bottom" title="Administrativo"
                                        ></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if allowed_user.active %}
                                        <i class="fa fa-check fa-lg text-success"></i>
                                        {% else %}
                                        <i class="fa fa-times fa-lg text-danger"></i>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-outline btn-xs btn-primary"
                                           type="button" data-toggle="tooltip"
                                           data-placement="top"
                                           title data-original-title="Editar"
                                           href="{% url 'allowed_user_update' allowed_user.id %}">
                                                <i class="fa fa-edit"></i>
                                        </a>
                                        {% if not allowed_user.active %}
                                            <a class="btn btn-outline btn-xs btn-primary"
                                                type="button" data-toggle="tooltip"
                                                data-placement="top"
                                                title data-original-title="Activar"
                                                href="{% url 'allowed_user_update_active' allowed_user.id %}">
                                                    <i class="fa fa-check fa-lg"></i>
                                            </a>
                                        {% else %}
                                            <a class="btn btn-outline btn-xs btn-primary"
                                                type="button" data-toggle="tooltip"
                                                data-placement="top"
                                                title data-original-title="Desactivar"
                                                href="{% url 'allowed_user_update_active' allowed_user.id %}">
                                                    <i class="fa fa-times fa-lg"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include 'includes/pagination.html' %}
                {% else %}
                    <div class="alert alert-info text-center">
                        <h3>No hay usuarios registrados en el sistema.</h3>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}